# Python Programming assignment 2

1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [ ]:
# ques 1

def mile(km):
  return 0.621371*km
l = mile(1)  
print(l)

0.621371

In [ ]:
# ques 2

def farenhiet(celsius):
    c = (9/5)*celsius+32
    return c
far = farenhiet(20)
print(far)

68.0

In [ ]:
# ques 3

import calendar
 
yy = 2022
mm = 10
 
# display the calendar
print(calendar.month(yy, mm))

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [7]:
# ques 4

def quadeq(a,b,c):
  determinent = b**2 - 4*(a*c)
  root1 = (-b + (determinent)**(1/2))/(2*a)
  root2 = (-b - (determinent)**(1/2))/(2*a)

  return root1,root2

q = quadeq(1,-4,4)
print(q)

(2.0, 2.0)

In [ ]:
# ques 5

x,y = 4,5
y,x  = x,y
print(f'x = {x}')
print(f'y = {y}')

x = 5
y = 4